/* Базовые стили */

*, *::before, *::after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  margin-right: 5%;
  margin-left: 5%;
}

ul[class], ol[class] {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  transition: all .1s;
}

a:hover {
  color: #4ac4c5;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  border: 0;
}

/* header */
  
.header {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  margin-right: 2rem;
}

.header .logo h2 {
  color: #4ac4c5;
}

.header .time {
  margin-top: 2rem;
}

.time .nickname {
  color: #4ac4c5;
}

.header .profile {
  display: flex;
  margin-top: 1rem;
}

.profile .edit {
  margin-right: 1rem;
}

.profile .edit:hover {
  background: url('../images/edit-hover.png');
}

.profile .logout:hover {
  background: url('../images/log-out-hover.png');
}

/* main */

/* users */

.main {
  margin-top: 2rem;
}

.main .main-flex {
  display: flex;
}

.main .users {
  width: 25%;
  height: 25.5rem;
  overflow-y: auto;
}

.users .user-status {
  display: flex;
  justify-content: space-between;
  margin: .3rem .5rem;
}

.users .user {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color .3s;
}

.users .user.passive {
  opacity: .4;
}

.user .info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  margin: .1rem 0;
}

.user .online {
  width: 16px;
  height: 16px;
  background: url('../images/user-online.png');
  position: absolute;
  right: 5%;
}

.user .offline {
  width: 16px;
  height: 16px;
  background-image: url('../images/user-offline.png');
  position: absolute;
  right: 5%;
}

.users .user:hover {
  background-color: lightgray;
}

.user .user-logo {
  width: 40px;
  margin-right: 1.2rem;
}

/* correspondence */

/* all-chats */

.main .correspondence {
  margin: -16.5rem 0 0 2rem;
  width: 75%;
}

.correspondence .all-chats {
  display: flex;
}

.all-chats .chat {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid lightgrey;
  border-radius: .2rem;
  padding: .3rem 2rem;
  cursor: pointer;
  transition: background-color .3s;
}

.all-chats .chat:hover {
  background-color: lightgrey;
}

.all-chats .active-chat {
  background: lightgrey;
}

.all-chats .other-chat img[alt="close-chat"] {
  display: none;
}

.all-chats .other-chat:hover img[alt="close-chat"] {
  display: block;
}

.all-chats .other-chat img[alt="close-chat"] {
  width: 11px;
  position: absolute;
  right: 3%;
}

.all-chats .chat h5 {
  margin: 0;
}

/* messages */

.messages {
  height: 23rem;
  overflow-y: auto;
  margin-top: .2rem;
  border: 2px solid lightgrey;
  border-radius: .5rem;
  padding: 1rem 4rem 1rem 1rem;
  background: rgba(0, 100, 0, .2);
}

.messages::-webkit-scrollbar {
  width: .4rem;
}

.messages::-webkit-scrollbar-thumb {
 background-color: #4ac4c5;
 border-radius: .5rem;
}

.messages .user-message {
  display: flex;
  margin-bottom: 1rem;
}

.messages .user-message p {
  margin-left: .4rem;
}

/* enter-message */ 

.enter-message textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 5rem;
  max-height: 15rem;
  margin-top: 1rem;
  padding: .5rem;
  border: 2px solid lightgrey;
  border-radius: .5rem;
  opacity: .5;
  transition: opacity .3s, border .3s;

}

.enter-message textarea:focus {
  opacity: 1;
  border: 2px solid green;
}

.enter-message .modification {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: .3rem 0 1rem 0;
}

.enter-message .modification img {
  width: 25px;
  margin: 0 .2rem;
  padding: .2rem;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color .3s;
}

.enter-message .modification img:hover {
  background-color: lightgrey;
}

.enter-message .more-info {
  border: 2px solid green;
  border-radius: .5rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enter-message .more-info h5 {
  font-style: italic;
  margin: .3rem 0;
}

.enter-message .more-info span {
  margin-left: .4rem;
}

.more-info .send-message button {
  background: #4ac4c5;
  color: white;
  padding: .5rem 4rem;
  border-radius: .5rem;
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s;
}

.more-info .send-message button:hover {
  opacity: 1;
}

/* Form */

.registration-login.login {
  display: none;
}

.change-form a,
.registration a {
  margin: 0 0 1rem auto;
  padding: .3rem 1rem;
  border: 2px solid #4ac4c5;
  border-radius: .5rem;
  transition: background-color .3s, color .3s;
}

.change-form a:hover,
.registration a:hover {
  background-color: green;
  border: 2px solid green;
  color: #fff;
}

.registration-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: 28rem;
}

.form fieldset {
  padding: 1.5rem;
  border: 2px solid lightgray;
  border-radius: .5rem;
}

fieldset legend {
  font-size: 1.2rem;
  color: green;
  font-weight: bold;
}

.registration-login div {
  display: flex;
  flex-direction: column;
}

.registration-login div:first-child label {
  margin-top: 0;
}

.registration-login div label {
  text-align: center;
  margin: .6rem 0 .3rem 0;
}

.registration-login div input {
  width: 20rem;
  border: 2px solid #4ac4c5;
  border-radius: .5rem;
  padding: .5rem;
  opacity: .7;
}

.registration-login div input:focus {
  opacity: 1;
}

.registration-login .check-registration button,
.registration-login .check-login button {
  background: #4ac4c5;
  color: white;
  margin-top: 2rem;
  padding: .5rem 4rem;
  border-radius: .5rem;
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s;
}

.registration-login .check-registration button:hover,
.registration-login .check-login button:hover {
  opacity: 1;
}

/* alert-error */  

.alert-error-hide {
  display: none;
  margin-top: 1rem;
  padding: .5rem;
  color: white;
  background-color: red;
  border-radius: .5rem;
}

.alert-error-show {
  display: block;
}
